version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-ahub
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis-ahub
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", ""]
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data:
